.content{
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
}
.content > div:nth-child(1)::after{
	content: '';
	position: absolute;
	top: 5%;
	right: 50%;
	display: flex;
	width: 2px;
	height: 90%;
	background: rgba(0, 0, 0, 0.25);
}