.content{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 2fr;
	grid-gap: 30px;
}
/* @media (max-width: 767px) {.content{grid-gap: 15px;}}
@media (max-width: 500px) {.content{grid-gap: 0px;}} */