.users__item{
	display: grid;
	grid-template-areas: 'button info';
	grid-template-columns: auto 1fr;
	grid-gap: 25px;
	margin: 25px 0px;
}

.user__info{
	display: grid;
	grid-area: info;
	grid-template-areas: 
	'avatar name'
	'avatar location';
	grid-template-columns: 75px 1fr;
	grid-gap: 25px;
}

.navigation{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
}

.navigation span{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 5px;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	font-size: 18px;
	cursor: pointer;
}
.selectedPaginationLink, .selectedPageSize{
	background: #000;
	color: #fff;
}




.status_button{
	grid-area: button;
	align-self: center;
	padding: 10px;
	min-width: 125px;
	max-height: 50px;
}
.status_button::before{
	content: attr(data-status);
}
.avatar{
	grid-area: avatar;
	width: 100%;
}
.avatar img{
	width: 100%;
	border-radius: 50%;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.286);
	aspect-ratio: 1/1;
	object-fit: cover;
}
.name{
	grid-area: name;
	max-width: 100%;
	font-size: 20px;
	font-weight: 700;
}
.location{
	grid-area: location;
	font-size: 18px;
}


