.users{
	display: grid;
	grid-row: repeat(4, 1fr);
	grid-gap: 20px;
}

.users__item{
	display: grid;
	grid-template-areas: 
	'button avatar name'
	'button avatar location';
	grid-template-columns: auto 75px 1fr;
	grid-gap: 25px;
}

.status_button{
	grid-area: button;
	align-self: center;
	padding: 10px;
	min-width: 125px;
	max-height: 50px;
}
.status_button::before{
	content: attr(data-status);
}

.avatar{
	grid-area: avatar;
	width: 100%;
}

.avatar img{
	width: 100%;
	border-radius: 50%;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.286);
	aspect-ratio: 1/1;
	object-fit: cover;
}


.name{
	grid-area: name;
	max-width: 100%;
	font-size: 20px;
	font-weight: 700;
}

.location{
	grid-area: location;
	font-size: 18px;
}


