.users__item{
	display: grid;
	grid-template-areas: 'button info';
	grid-template-columns: auto 1fr;
	grid-gap: calc(var(--index)*1.6);
	margin: 15px 0px calc(var(--index)*1.75);
}

.user__info{
	display: grid;
	grid-area: info;
	grid-template-areas: 
	'avatar name'
	'avatar location';
	align-items: center;
	grid-template-columns: calc(var(--index)*4.5) 1fr;
	grid-gap: calc(var(--index)*1.25);
}

.navigation{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
}
.navigation span{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 5px;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	font-size: 18px;
	cursor: pointer;
}
.selectedPaginationLink, .selectedPageSize{
	background: #000;
	color: #fff;
}




.status_button{
	grid-area: button;
	align-self: center;
}
.status_button::before{ 
	content: 'unfollow';
	display: block;
	overflow: hidden;
	visibility: hidden;
	height: 0;
}
.avatar{
	grid-area: avatar;
	width: 100%;
}
.name{
	grid-area: name;
	max-width: 100%;
	font-size: calc(var(--index)*1.2);
	font-weight: 700;
}
.location{
	grid-area: location;
	font-size: calc(var(--index)*1.1);
}


