.profilePosts{
	margin: 0 auto;
	padding: 0px 10px;
}
.title{
	margin-bottom:  calc(var(--index)*1.25);
	font-size: calc(var(--index)*1.5);
	font-weight: 700;
	color:blueviolet;
}

.newPost{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
