.profilePosts{
	grid-area: posts;
	margin: 0 auto;
	max-width: 90%;
}
.title{
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 700;
	color:blueviolet;
}
textarea{
	padding: 10px;
	width: 100%;
	height: 10%;
	font-size: 20px;
	background-color: #E6EEEA;
}
button{
	padding: 10px 20px;
	font-size: 20px;
	background: #0CB658;
	color:azure;
	margin: 15px 0px 10px;
}

.newPost{
	display: flex;
	flex-direction: column;
	align-items: end;
}

.posts__list{
	margin-top: 0px;
}
