.avatar {
	z-index: 10;
	grid-area: avatar;
	transition: transform 1s ease ;
}
.avatar img {
	max-width: 100%;
	border-radius: 50%;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.286);
	aspect-ratio: 1/1;
	user-select: none;
	object-fit: cover;
	transition: border-radius 0.5s ease ;
}
.avatarScale{
	z-index: 11;
	transform: scale(2);
}
.avatarScale img{
	border-radius: 0;
}