.description__body{
	margin: calc(var(--index)*2.5) 0px calc(var(--index)*2) 0px;
	display: grid;
	grid-template-areas:
	"avatar name";
	grid-template-columns: minmax(60px,calc(var(--index)*7.5)) minmax(165px, 1fr);
	column-gap: calc(var(--index)*1.75);
}

.description__info{
	display: grid;
	grid-area: name;
	align-items: end;
	row-gap: calc(1vw*1.25);
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.description__name{
	margin-bottom: 5px;
	align-self: start;
	font-size: calc(var(--index)*1.35);
	font-weight: 700; 
}

.description__text{
	position: relative;
	display: flex;
	align-items: center;
	font-size: calc(var(--index)*1);
	height: calc(var(--index)*1.07);
}
@media (max-width: 400px) {
	.description__text{font-size: 10px;}
}

.editable {
	cursor: pointer;
	user-select: none;
	white-space: nowrap;
	width: 100%;
}
.isFetchingBlock{
	background: url('../../../assets/icons/loading.gif') 0 0/auto 100% no-repeat;
	position: absolute;
	left: calc(var(--index)*-1.05);
	width: calc(var(--index)*1.05);
	height: calc(var(--index)*1.05);
}
.description__text_edit_mode input{
	font-size: inherit;
	width: 100%;
	text-decoration: underline;
	
}
.description__text img {
	display: none;
}
.text{
	white-space: nowrap;
}