.description__body{
	margin: calc(var(--index)*2.5) 0px calc(var(--index)*2) 0px;
	display: grid;
	grid-template-areas:
	"avatar name";
	grid-template-columns: calc(var(--index)*7.5) 1fr;
	column-gap: calc(var(--index)*2);
}

.description__info{
	display: grid;
	grid-area: name;
	align-items: end;
	row-gap: calc(var(--index)*0.75);
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.description__name{
	align-self: start;
	font-size: calc(var(--index)*1.35);
	font-weight: 700; 
}

.description__text{
	position: relative;
	display: flex;
	align-items: center;
	font-size: calc(var(--index)*1);
	height: calc(var(--index)*1.07);
}

.editable {
	cursor: pointer;
	user-select: none;
}
.isFetchingBlock{
	background: url('../../../assets/icons/loading.gif') 0 0/auto 100% no-repeat;
	position: absolute;
	left: calc(var(--index)*-1.05);
	width: calc(var(--index)*1.05);
	height: calc(var(--index)*1.05);
}
.description__text_edit_mode input{
	font-size: calc(var(--index)*1);
	text-decoration: underline;
}
.description__text img {
	display: none;
}