.profile{
	width: 100%;
	border: 1px solid #000;
	grid-area: main;
}

.profile__image{
	max-width: 100%;
}

.profileDescription{

}

.profileDescription__avatar{

}

.profileDescription__name{

}

.profileDescription__info{

}

.profileDescription__text{

}

.profilePosts{

}

.profilePosts__item{

}

.newPost{
	
}