.sidebar{
	grid-area: sidebar;
}

.sidebar__list{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px auto;
	font-family: arial;
}

.sidebar__item{
	margin-bottom: 25px;
	font-size: 20px;
}

.sidebar__link, .active{
	color: inherit;
}

.sidebar__link:hover, .active:hover{
	cursor: pointer;
	text-decoration: underline;
}

.active{
	color: blueviolet;
}