.dialog{
	grid-column: 2/2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 89vh;
	justify-content: end;
}
/* @media (max-width: 500px) {.dialog{height: 79vh;}} */

.dialog__items{
	display: grid;
	align-content: start;
	max-height: 75%;
	padding: 0px 10px;
	overflow-y: overlay;
	scrollbar-width: 5px;
	scrollbar-color: rgb(182, 170, 170) transparent;
}

textarea{
	padding: 10px;
	width: 100%;
	height: 100%;
	font-size: 20px;
	background-color: #E6EEEA;
}
.button{
	padding: 10px 20px;
	
	margin: 15px 0px 10px;
}

.sendMessage{
	display: flex;
	flex-direction: column;
	align-items: end;
}
