.App {
	display: grid;
	grid-template-areas: 
	"header header header"
	"sidebar main main";
	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-gap: 10px;
	width: 90%;
	margin: 0 auto;
}

.header{
	border: 1px solid #000;
	grid-area: header;
}

.header__logo {
	height: 60px;
	pointer-events: none;
 }
 @media (prefers-reduced-motion: no-preference) {
	.header__logo {
	  animation: header__logo_spin infinite 20s linear;
	}
 }
 @keyframes header__logo_spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
 }

.sidebar{
	border: 1px solid #000;
	grid-area: sidebar;
}

.sidebar__list{}

.sidebar__item{}

.sidebar__link{}

.profile{
	width: 100%;
	border: 1px solid #000;
	grid-area: main;
}
.profile__image{
	max-width: 100%;
}