:root {
	--index: calc(1vh + 1vw);
	/* var(--index) */
 }


.app {
	display: grid;
	grid-template-areas: 
	"header header"
	"sidebar main";
	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-gap: 10px;
}

main{
	grid-area: main;
	padding: 0px 6px 10px 0px;
}

button{
	padding: calc(var(--index)*0.5) calc(var(--index)*1);
	font-size: calc(var(--index)*1);
	background: #0CB658;
	color:azure;	
}
button:hover{
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.325);
}
button:active{
	position: relative;
	top: 1px;
	box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.325), 0px 2px 4px rgba(0, 0, 0, 0.325);
}
button:disabled{
	box-shadow: none;
}
button:disabled:active{
	position: static;
	transition: all 0 ease 1s;
	background-color: rgb(172, 76, 76);
	box-shadow: none;
}

textarea{
	padding: calc(var(--index)/2);
	margin:  0px 0px calc(var(--index)*1) 0px; 
	width: 100%;
	height: 100%;
	font-size: calc(var(--index)*1.15);
	background-color: #E6EEEA;
}