.App {
	display: grid;
	grid-template-areas: 
	"header header header"
	"sidebar main main";
	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-gap: 10px;
	width: 90%;
	margin: 0 auto;
}