.auth{
	display: grid;
	grid-template-columns: minmax(250px, 400px)
}
.loginForm, .registrationForm{
	display: grid;
	grid-template-rows: repeat(auto-fit, 45px);
	row-gap: 30px;
	margin: 20px;
}
.loginForm{
	position: relative;
	grid-template-areas:
	'email email'
	'password password'
	'loginBtn goToRegister';
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
}
.loginBtn{	grid-area: loginBtn;}
.goToRegister{	grid-area: goToRegister; position: relative;} /*Да, это стыдно*/
.loginForm div:nth-child(1) {	grid-area: email; }
.loginForm div:nth-child(2) {	grid-area: password;}
.error{
	position: absolute; /*Я ведь не спорю*/
	bottom: -30px;
	width: 100%;
	grid-area: password;
	text-align: center;
	font-size: 16px;
}

.button{
	position: relative;
	margin-top: 10px;
	display: flex;
	justify-content: center;
}
.button button{
	border-radius: 3px;
	padding-top: calc(var(--index)*0.25);
	width: 100%;
	height: 100%;
	min-height: 45px;
	font-size: 18px;
} 
